<div class="container-fluid">
  <br>
  <div>
        <div>
            <h2>Course Manager</h2>
        </div>
        <div class="block">
            <div class="form-horizontal">
              <div class="form-group">
                    <label  class="col-sm-2 control-label text-left">Course Code</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="course_code" placeholder="Enter course code" >
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label text-left">Course Name</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="course_name" placeholder="Enter course name" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-left">Course Price</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control"  [(ngModel)]="course_price" placeholder="Enter course price" >
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <div class="col-sm-8">
                            
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" (click)="addCourse()">Add</button>
                          
                        </div>
                    
                    </div>
                </div>
                </div>
        </div>
    </div>

    <table class="table table-bordered">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Course Price</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let course of courseList">
        <td>{{course.course_code}}</td>
        <td>{{course.course_name}}</td>
        <td>{{course.course_price}}</td>
        <td>
          <button type="button" class="btn btn-danger btnkotak" (click)="removeCourse(course.course_code)">Delete</button>
        </td>
      </tr>
    </table>

</div>